<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('title') %></title>
    <link rel="stylesheet" type="text/css" href="/OSF/css/style_test.css">
</head>
<body>
    <h1><%= __('welcome_message') %></h1>

    <a href="/OSF/es/lang">Español</a>
    <a href="/OSF/en/lang">English</a>
</body>
</html>