<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= __('Lang_title') %></title>
</head>
<body>
    <%= __('selected_lang_message') %> : <strong><%= lang %></strong><br>
    <a href="/OSF">HOME</a>
</body>
</html>